<div class="container mt-3">
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="mb-3">
        <label for="categorySelect" class="form-label">Expense Category</label>
        <select id="categorySelect" class="form-select" formControlName="category">
          <option *ngFor="let category of expenseCategory" [ngValue]="category">{{ category.name }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="dateInput" class="form-label">Expense Date</label>
        <input type="date" id="dateInput" class="form-control" formControlName="date">
      </div>

      <div class="mb-3">
        <label for="descInput" class="form-label">Expense Description</label>
        <input type="text" id="descInput" class="form-control" formControlName="description" placeholder="Description of Expense">
      </div>

      <div class="mb-3">
        <label for="amountInput" class="form-label">Expense Amount</label>
        <input type="number" id="amountInput" class="form-control" formControlName="amount" placeholder="Enter Expense Amount">
        <div *ngIf="expenseForm.get('amount')?.invalid && expenseForm.get('amount')?.touched" class="text-danger">
          Enter a valid amount &gt; 0
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="expenseForm.invalid || submitting">
        {{ submitting ? 'Submitting...' : 'Submit' }}
      </button>
    </fieldset>
  </form>
</div>

